<h1>Ad</h1>

<p>
  <b>Title</b><br>
  <%= @ad.title %>
</p>

<p>
  <b>Description</b><br>
  <%= @ad.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', ads_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_ad_path(@ad), :class => 'btn' %>
  <%= link_to 'Delete', ad_path(@ad), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
